* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
p{
    color: whitesmoke;
    font-size: 25px;
}
img{
    height: 500px;
    width: 350px;
    border: 2px solid rgb(101, 100, 100);
    border-radius: 20px;
    box-shadow: 2px 2px 20px grey;
}
